/*GLOBALES*/
body{
    margin: 0;
    border-top:11px solid #ededed;
}

/*HELPERS*/
.wrapper{
    width: 960px;
    margin: 0 auto;

}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*HEADER*/

#logo{
    padding: 0 0 0 98px;
}
#nav{
    float:bottom;
    width:821;
}
#nav-lista {
    list-style: none;
    margin: 35px 0 0 0;
    padding: 0 0 0 71px;
    border-bottom: 6px solid #676766;
}
#nav-lista li{
    float: left;
}
#nav-lista li + li{
    margin-left: 53px;
}
#nav-lista a{
    color: #8d8d8c;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}
#content-info-1 h2{
    color: #d3001c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
#content-info-1 p{
    color:#666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#content-info-2 h2{
    color: #8c0013;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.box1 + .box2{
    width: 437px;
    float:left
}
.box1 + .box2{
    background-color: #f5f3f3;
    margin: 0 33px 0 33px;
    display: inline;
}
/*Footer*/
#footer a{
    text-decoration:none;
}
#footer{
    background-color:#f5f3f3;
    padding: 31px 0px 37px 0px;
    display: block;
}